{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="consultant_show_btn col-sm-12 group_buttons">
    <button class="btn btn-secondary btn-sm" type="button"><a href="{{ path('service') }}">Retour à la liste</a></button>
    <button class="btn btn-secondary btn-sm" type="submit">{{ button_label|default('Enregistrer') }}</button>
    {% if (service.id != null ) %}
        {{ include('service/_delete_form.html.twig') }}
    {% endif %}
</div>
{{ form_end(form) }}
